@model List<(Inventario inventario, Vehiculo vehiculo)>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="formularioCreate">


    <h1>Inventario</h1>
    <div>
        <a asp-action="Create" asp-controller="Vehiculo" class="btn btn-primary">Nuevo Vehiculo</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id Vehículo</th>
                <th>Imagen</th>
                <th>Nombre Vehículo</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.inventario.idVehiculo</td>
                    <td>
                        <img src="@item.vehiculo.imagenUrl" style="max-width: 100px;" />
                    </td>

                    <td>@item.vehiculo.modeloVehiculo</td>
                    <td>@item.inventario.cantidadVehiculos</td>
                    <td>@item.vehiculo.estadoActivo</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.inventario.idVehiculo" class="btn btn-warning" style="color: black;">Editar</a> /
                        <a asp-action="Details" asp-controller="Vehiculo" asp-route-id="@item.inventario.idVehiculo" class="btn btn-danger" style="color: black;">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>