@model IEnumerable<AppWebConcesionario.Models.Carrito>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="card p-4 shadow">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="p-2">
                                <img src="@item.foto" style="max-width: 100px;" />
                            </td>
                            <td class="p-2">@item.marcaVehiculo</td>
                            <td class="p-0">@item.modeloVehiculo</td>
                            <td class="p-0">$@item.precioVehiculo.ToString("N2")</td>
                            <td class="p-0">
                                <a href="@Url.Action("Delete", "Carrito", new { idVehiculo = item.idVehiculo })" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.Any())
        {
            <p>Tu carrito está vacío.</p>
        }
        else
        {
            <div class="text-right">
                <a href="@Url.Action("Checkout", "Carrito")" class="btn btn-primary">Proceder al Pago</a>
            </div>
        }
    </div>
</div>

































@* 
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idVehiculo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.marcaVehiculo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modeloVehiculo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precioVehiculo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idVehiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marcaVehiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modeloVehiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioVehiculo)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id=item.idVehiculo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> *@

