@model AppWebConcesionario.Models.Factura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montoDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montoDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montoImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montoImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
