@model IEnumerable<AppWebConcesionario.Models.Factura>

@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container mt-5">

    <div class="card p-4 shadow">

        <div class="table-responsive">


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.idFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.idUsuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.subtotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.montoDescuento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.montoImpuesto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.totalFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fechaFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tipoPago)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Si el que entra es el cliente, se muestran solo sus facturas-->
                @if (User.FindFirstValue("Rol").Equals("2"))
                {
                    @foreach (var item in Model)
                    {
                            if (User.FindFirstValue("idUsuario").Equals(item.idUsuario.ToString()))
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idUsuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.subtotal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.montoDescuento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.montoImpuesto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.totalFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipoPago)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Factura" asp-route-id="@item.idFactura" class="btn btn-dark" style="color: ghostwhite;">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                                            </svg>
                                        </a>
                                        <a asp-action="Delete" asp-controller="Factura" asp-route-id="@item.idFactura" class="btn btn-dark" style="color: ghostwhite;">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <!--Si el que entra es el admin, se muestran todas las facturas-->
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idUsuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.subtotal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.montoDescuento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.montoImpuesto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.totalFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipoPago)
                                    </td>
                                    <td>
                                    <a asp-action="Details" asp-controller="Factura" asp-route-id="@item.idFactura" class="btn btn-dark" style="color: ghostwhite;">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                                        </svg>
                                    </a>
                                    <a asp-action="Delete" asp-controller="Factura" asp-route-id="@item.idFactura" class="btn btn-dark" style="color: ghostwhite;">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                        </svg>
                                    </a>
                                </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
    </div>

</div>


<style>
    .btn {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
</style>