@model IEnumerable<AppWebConcesionario.Models.Factura>

@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container mt-5">

    <div class="card p-4 shadow">

        <div class="table-responsive">


            <table class="table">
                <thead>
                    <tr>
                        <th>
                           Id Factura
                        </th>
                        @if (User.FindFirstValue("Rol").Equals("1"))
                        {
                            <th>
                                Id Usuario
                            </th>
                        }
                        
                        <th>
                            Subtotal
                        </th>
                        <th>
                            Descuento
                        </th>
                        <th>
                            Impuesto
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Fecha de Facturacion
                        </th>
                        <th>
                            Tipo de Pago
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Si el que entra es el cliente, se muestran solo sus facturas-->
                @if (User.FindFirstValue("Rol").Equals("2"))
                {
                    @foreach (var item in Model)
                    {
                            if (User.FindFirstValue("idUsuario").Equals(item.idUsuario.ToString()))
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idFactura)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.subtotal)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.montoDescuento)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.montoImpuesto)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.totalFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipoPago)
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <!--Si el que entra es el admin, se muestran todas las facturas-->
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idUsuario)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.subtotal)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.montoDescuento)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.montoImpuesto)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.totalFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaFactura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipoPago)
                                    </td>
                                    <td>
                                    
                                </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
    </div>

</div>


<style>
    .btn {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
</style>