@using System.Security.Claims
@model AppWebConcesionario.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form id="formularioDetails" class="row">
        <div class="col-md-6">
            <h4>Vehiculo</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    Id Vehiculo:
                </dt>
                <dd class="col-sm-8">
                    @Model.idVehiculo
                </dd>
                <dt class="col-sm-4">
                    Marca:
                </dt>
                <dd class="col-sm-8">
                    @Model.marcaVehiculo
                </dd>
                <dt class="col-sm-4">
                    Modelo:
                </dt>
                <dd class="col-sm-8">
                    @Model.modeloVehiculo
                </dd>
                <dt class="col-sm-4">
                    Combustible:
                </dt>
                <dd class="col-sm-8">
                    @Model.tipoCombustible
                </dd>
                <dt class="col-sm-4">
                    Precio:
                </dt>
                <dd class="col-sm-8">
                    $@Html.DisplayFor(model => model.precioVehiculo)
                </dd>
                @if (User.Identity.IsAuthenticated && User.FindFirstValue("Rol").Equals("1"))
                {
                    <dt class="col-sm-4">
                        Estado:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.estadoActivo)
                    </dd>
                }
            </dl>

            <div>
                @if (User.Identity.IsAuthenticated && User.FindFirstValue("Rol").Equals("1"))
                {
                    <a class="btn btn-dark " asp-action="Index" asp-controller="Inventarios">Volver</a>
                }
                else
                {
                    <a class="btn btn-dark " asp-action="Index" asp-controller="Vehiculo">Volver</a>
                }

            </div>
        </div>

        <div class="col-md-6">
            <!-- Contenedor para la imagen del vehículo -->
            <div class="image-container">
                <img src="@Model.imagenUrl" alt="Imagen del vehículo" class="img-fluid rounded" style="width: 100%; filter: brightness(80%);">
            </div>
        </div>
    </form>
</div>


 <style>

            
    .image-container {
        float: right; /* Coloca el contenedor a la derecha */
        width: 50%; /* Ancho del contenedor */
        margin-left: 20px; /* Margen izquierdo para separarlo del contenido principal */
    }

    .image-container img {
            width: 100% !important;
    }

    #formularioDetails {
        background-color: whitesmoke;
        border: 1px solid #dedede;
        border-radius: 1em;
        box-shadow: 5px 5px 5px rgba(25,0,0,25);
        padding: 1em;
        margin: 0 auto;
        width: auto;
        text-align: left;
        color: #393939;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>