@model IEnumerable<AppWebConcesionario.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Index</h1> *@

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-3">
            @{
               int contador = 0;
            }

            @foreach(var item in Model)
            {
                if(contador == 0)
                {
                    <div class="card" style="width: 18rem;">
                        <img src=@item.imagenUrl class="card-img-top" alt="@item.modeloVehiculo">
                        <div class="card-body">
                            <h5 class="card-title">@item.marcaVehiculo</h5>
                            <p class="card-text">@item.modeloVehiculo</p>
                            <p class="card-text">Precio: $@item.precioVehiculo</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Compra</a>
                            <a href="#" class="card-link">Detalles</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card" style="width: 18rem;">
                        <img src=@item.imagenUrl class="card-img-top" alt="@item.modeloVehiculo">
                        <div class="card-body">
                            <h5 class="card-title">@item.marcaVehiculo</h5>
                            <p class="card-text">@item.modeloVehiculo</p>
                            <p class="card-text">Precio: $@item.precioVehiculo</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Compra</a>
                            <a href="#" class="card-link">Detalles</a>
                        </div>
                    </div>
                }
            }


        </div>

        <div class="col-sm-3"></div>

    </div>
</div>

 