@model IEnumerable<AppWebConcesionario.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Index</h1> *@

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div class="d-flex flex-row justify-content-center flex-wrap">
            
            @{
                int contador = 0;
            }

            @foreach (var item in Model)
            {
                if (contador == 0)
                {
                        <div class="card m-2" style="width: 18rem;">
                            <img src=@item.imagenUrl class="card-img-top" alt="@item.modeloVehiculo">
                            <div class="card-body">
                                <h5 class="card-title">@item.marcaVehiculo</h5>
                                <p>@item.modeloVehiculo</p>
                                <p>Precio: $@item.precioVehiculo</p>
                                <p>Tipo Combustible: @item.tipoCombustible</p>
                                <a href="#" class="card-link">Compra</a>
                                @Html.ActionLink("Detalles", "Details", new { id = item.idVehiculo })
                            </div>
                        </div>
                }
                else
                {
                    <div class="card m-2" style="width: 18rem;">
                        <img src=@item.imagenUrl class="card-img-top" alt="@item.modeloVehiculo">
                        <div class="card-body">
                            <h5 class="card-title">@item.marcaVehiculo</h5>
                            <p>@item.modeloVehiculo</p>
                            <p>Precio: $@item.precioVehiculo</p>
                            <p>Tipo Combustible: @item.tipoCombustible</p>
                            <a href="#" class="card-link">Compra</a>
                            @Html.ActionLink("Detalles", "Details", new { id = item.idVehiculo })
                        </div>
                    </div>
                }
            }


            </div>
        </div>


    </div>
</div>