@model AppWebConcesionario.Models.Promocion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" id="formularioCreate">
    <h3>Estas seguro de querer borrar esta promo?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioPromocion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioPromocion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lugarPromocion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lugarPromocion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListaAdmin" class="btn btn-dark">Volver</a>
    </form>
</div>
