@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<dynamic>

<h2>Vehículos en Promoción</h2>

<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Combustible</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Precio Promoción</th>
            <th>Lugar Promoción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Model)
        {
            <tr>
                <td>@vehiculo.marcaVehiculo</td>
                <td>@vehiculo.modeloVehiculo</td>
                <td>@vehiculo.tipoCombustible</td>
                <td>@vehiculo.precioVehiculo</td>
                <td>@(vehiculo.estadoActivo ? "Activo" : "Inactivo")</td>
                <td><img src="@vehiculo.imagenUrl" alt="Imagen del vehículo" width="100" /></td>
                <td>@vehiculo.precioPromocion</td>
                <td>@vehiculo.lugarPromocion</td>
            </tr>
        }
    </tbody>
</table>
