@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<(Vehiculo, Promocion)>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div class="d-flex flex-row justify-content-center flex-wrap">

                @{
                    int contador = 0;
                }

                @foreach (var item in Model)
                {
                    if (contador == 0)
                    {
                        <div class="card m-2" style="width: 18rem;">
                            <img src=@item.Item1.imagenUrl class="card-img-top" alt="@item.Item1.modeloVehiculo">
                            <div class="card-body">
                                <h5 class="card-title">@item.Item1.marcaVehiculo</h5>
                                <p>@item.Item1.modeloVehiculo</p>
                                <p>Tipo Combustible: @item.Item1.tipoCombustible</p>
                                <p>Precio: <s>$@item.Item1.precioVehiculo</s></p>
                                <p>Precio en promocion: $@item.Item2.precioPromocion</p>
                                <p>Lugar de Promocion: @item.Item2.lugarPromocion</p>
                                <a href="#" class="btn btn-success">Comprar</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card m-2" style="width: 18rem;">
                            <img src=@item.Item1.imagenUrl class="card-img-top" alt="@item.Item1.modeloVehiculo">
                            <div class="card-body">
                                <h5 class="card-title">@item.Item1.marcaVehiculo</h5>
                                <p>@item.Item1.modeloVehiculo</p>                           
                                <p>Tipo Combustible: @item.Item1.tipoCombustible</p>
                                <p>Precio: <s>$@item.Item1.precioVehiculo</s></p>
                                <p>Precio en promocion: $@item.Item2.precioPromocion</p>
                                <p>Lugar de Promocion: @item.Item2.lugarPromocion</p>
                                <a href="#" class="btn btn-success">Comprar</a>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>


    </div>
</div>


