@model AppWebConcesionario.Models.RegistroAuditoria

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="formularioCreate">
    <h4>Detalle de Bitacora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAuditoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAuditoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tablaModificada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tablaModificada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuarioModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>
