@model IEnumerable<AppWebConcesionario.Models.RegistroAuditoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form id="formularioCreate">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.idAuditoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tablaModificada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaModificacion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idAuditoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tablaModificada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaModificacion)
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Auditoria" asp-route-id="@item.idAuditoria" class="btn btn-dark" style="color: ghostwhite;">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<style>
    .btn {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
</style>