@model IEnumerable<AppWebConcesionario.Models.RegistroAuditoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form id="formularioCreate">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.idAuditoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tablaModificada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaModificacion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idAuditoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tablaModificada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaModificacion)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new {  id=item.idAuditoria }, new{@class="btn btn-info"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

