@model IEnumerable<AppWebConcesionario.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Usuarios</h1>

<table class="table formulario">
    <thead>
        <tr>         
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedulaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugarResidencia)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.restablecer)
            </th>             
            <th>
                @Html.DisplayNameFor(model => model.estadoSuscripcion)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>               
            <td>
                @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugarResidencia)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.restablecer)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.estadoSuscripcion)
            </td>           
        </tr>
}
    </tbody>
</table>
